<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>Contador</title>
</head>
<body>
    <div class="container">
        <h1>
            Counter
        </h1>
        <h3>
            Cantidad de visitas: {{session["contador_real"]}}
        </h3>
        <h3>
            Contador: {{session["contador"]}}
        </h3>
        <div class="form-container">
            <form action="/" method="post">
                <label for="incremento" class="label-incremento">Valor de incremento: </label>
                <input type="number" value="{{session['incremento']}}" name="incremento" id="incremento" class="input-incremento">
                <button type="submit" class="btn btn-blue">Click</button>
            </form>
            <form action="/2" method="post">
                <button type="submit" class="btn btn-purple">+2</button>
            </form>
            <form action="/destroy_session" method="post">
                <button type="submit" class="btn btn-red">Reset</button>
            </form>
        </div>
    </div>
</body>
</html>